<!-- Toolbar -->
<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-icon-button class="angular-icon" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PT Angular</span>
  <span class="pt-angular-spacer"></span>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <mat-nav-list>
      <a mat-flat-button color="basic" routerLink="/" >Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-flat-button color="basic" routerLink="/usuarios" >Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class="content" role="main"></div>
  </mat-sidenav-content>
</mat-sidenav-container>

